*.o
*.d
.*.cmd
*.ko
*.mod.c
*.orig
.*.swp
*.a
*.lnt
tags
modules.order
Module.symvers
.tmp_versions
cache/


*.gcno
*.core
*.suo
*.sdf
*.opensdf
*~
cscope.out
*.7

output/arm-orangePi-pc2/*
!output/arm-orangePi-pc2/Make.local
!output/arm-orangePi-pc2/Makefile
!output/arm-orangePi-pc2/launcher
!output/arm-orangePi-pc2/INSTALL

